In [1]:
import pandas as pd 
import numpy as np

In [2]:
dataset=pd.read_excel(r'C:\Users\sandh\Downloads\Weekly_Assignment.xlsx')

In [3]:
#check the percentage of nulls in all the features , set a threshold level to exclude features with set % of nulls
dataset.isnull().sum()/len(dataset)*100

User_ID           0.000000
Age              25.000000
Gender            8.333333
Location          8.333333
Followers        33.333333
Following        33.333333
Posts            33.333333
Likes             8.333333
Comments         33.333333
Shares           16.666667
Small_Numbers    16.666667
dtype: float64

In [4]:
#check for nulls 
dataset.isnull().sum()

User_ID          0
Age              3
Gender           1
Location         1
Followers        4
Following        4
Posts            4
Likes            1
Comments         4
Shares           2
Small_Numbers    2
dtype: int64

In [5]:
df = pd.DataFrame(dataset)

In [6]:
print(df)

    User_ID   Age  Gender     Location  Followers  Following   Posts   Likes  \
0         1  25.0    Male     New York      500.0      300.0   100.0   250.0
1         2  32.0  Female  Los Angeles     1000.0      700.0   150.0   500.0
2         3   NaN    Male       London        NaN      500.0     NaN   150.0
3         4  42.0  Female        Paris     2500.0     1000.0   300.0   750.0
4         5   NaN   Other          NaN        NaN        NaN     NaN  1000.0
5         6  29.0    Male       Sydney     1500.0        NaN   200.0   400.0
6         7  37.0     NaN        Tokyo      800.0      600.0     NaN     NaN
7         8  28.0  Female       Berlin        NaN        NaN   100.0   300.0
8         9  35.0   Other       Moscow     4000.0     1200.0   400.0   900.0
9        10   NaN    Male      Chicago        NaN        NaN     NaN   600.0
10       11  65.0  Female  Los Angeles    10000.0     5000.0  1000.0  1500.0
11       12  22.0    Male     New York      800.0      900.0   500.0   800.0

    Comments  Shares  Small_Numbers
0       50.0    10.0      20000.000
1       75.0    20.0          0.003
2       25.0     5.0          0.001
3        NaN    30.0            NaN
4      100.0    15.0          0.007
5       50.0     NaN          0.006
6        NaN     NaN          0.001
7        NaN     8.0            NaN
8       80.0    25.0          0.002
9        NaN    12.0          0.003
10     200.0   500.0      10000.000
11     300.0   100.0          0.008

In [7]:
#fill in the age,followers,following,Posts,Comments column with the mean values
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Followers'].fillna(df['Followers'].mean(),inplace=True)
df['Following'].fillna(df['Following'].mean(),inplace=True)
df['Posts'].fillna(df['Posts'].mean(),inplace=True)
df['Comments'].fillna(df['Comments'].mean(),inplace=True)

In [8]:
#fill in the small_numbers with the most common value mode since it has only 2 missing values.
df['Small_Numbers'].fillna(df['Small_Numbers'].mode()[0],inplace=True)

In [9]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

In [10]:
df['Location'].fillna(df['Location'].mode()[0],inplace=True)

In [11]:
# fill in Likes and Shares columns with median value
df['Likes'].fillna(df['Likes'].median(),inplace=True)
df['Shares'].fillna(df['Shares'].median(),inplace=True)

In [12]:
print(df)

    User_ID   Age  Gender     Location  Followers  Following    Posts   Likes  \
0         1  25.0    Male     New York      500.0      300.0   100.00   250.0
1         2  32.0  Female  Los Angeles     1000.0      700.0   150.00   500.0
2         3  35.0    Male       London     2637.5      500.0   343.75   150.0
3         4  42.0  Female        Paris     2500.0     1000.0   300.00   750.0
4         5  35.0   Other  Los Angeles     2637.5     1275.0   343.75  1000.0
5         6  29.0    Male       Sydney     1500.0     1275.0   200.00   400.0
6         7  37.0    Male        Tokyo      800.0      600.0   343.75   600.0
7         8  28.0  Female       Berlin     2637.5     1275.0   100.00   300.0
8         9  35.0   Other       Moscow     4000.0     1200.0   400.00   900.0
9        10  35.0    Male      Chicago     2637.5     1275.0   343.75   600.0
10       11  65.0  Female  Los Angeles    10000.0     5000.0  1000.00  1500.0
11       12  22.0    Male     New York      800.0      900.0   500.00   800.0

    Comments  Shares  Small_Numbers
0       50.0    10.0      20000.000
1       75.0    20.0          0.003
2       25.0     5.0          0.001
3      110.0    30.0          0.001
4      100.0    15.0          0.007
5       50.0    17.5          0.006
6      110.0    17.5          0.001
7      110.0     8.0          0.001
8       80.0    25.0          0.002
9      110.0    12.0          0.003
10     200.0   500.0      10000.000
11     300.0   100.0          0.008

In [13]:
import scipy.stats as stats

In [14]:
#calculate z scores
z_scores=stats.zscore(df['Small_Numbers'])
print(z_scores)
threshold = 0.5
outliers = df.Small_Numbers[np.abs(z_scores) > threshold]
print("Outliers")
print(outliers)

0     2.940588
1    -0.420084
2    -0.420084
3    -0.420084
4    -0.420083
5    -0.420084
6    -0.420084
7    -0.420084
8    -0.420084
9    -0.420084
10    1.260252
11   -0.420083
Name: Small_Numbers, dtype: float64
Outliers
0     20000.0
10    10000.0
Name: Small_Numbers, dtype: float64

In [15]:
#calculate z scores
z_scores=stats.zscore(df['Shares'])
print(z_scores)
threshold = 3
outliers = dataset.Shares[np.abs(z_scores) > threshold]
print("Outliers")
print(outliers)

0    -0.398482
1    -0.323766
2    -0.435839
3    -0.249051
4    -0.361124
5    -0.342445
6    -0.342445
7    -0.413425
8    -0.286409
9    -0.383539
10    3.262569
11    0.273956
Name: Shares, dtype: float64
Outliers
10    500.0
Name: Shares, dtype: float64

In [16]:
#calculate z scores
z_scores=stats.zscore(df['Following'])
print(z_scores)
threshold = 3
outliers = dataset.Following[np.abs(z_scores) > threshold]
print("Outliers")
print(outliers)

0    -0.833125
1    -0.491330
2    -0.662228
3    -0.234984
4     0.000000
5     0.000000
6    -0.576779
7     0.000000
8    -0.064087
9     0.000000
10    3.182966
11   -0.320433
Name: Following, dtype: float64
Outliers
10    5000.0
Name: Following, dtype: float64

In [17]:
#calculate z scores
z_scores=stats.zscore(df['Followers'])
print(z_scores)
threshold = 3
outliers = dataset.Followers[np.abs(z_scores) > threshold]
print("Outliers")
print(outliers)

0    -0.876420
1    -0.671409
2     0.000000
3    -0.056378
4     0.000000
5    -0.466399
6    -0.753414
7     0.000000
8     0.558654
9     0.000000
10    3.018780
11   -0.753414
Name: Followers, dtype: float64
Outliers
10    10000.0
Name: Followers, dtype: float64

In [18]:
small_numbers_new = np.log1p(df.Small_Numbers)

In [19]:
print (small_numbers_new)

0     9.903538
1     0.002996
2     0.001000
3     0.001000
4     0.006976
5     0.005982
6     0.001000
7     0.001000
8     0.001998
9     0.002996
10    9.210440
11    0.007968
Name: Small_Numbers, dtype: float64

In [20]:
Shares_new = np.log1p(df.Shares)

In [21]:
Following_new = np.log1p(df.Following)

In [22]:
Followers_new = np.log1p(df.Followers)

In [23]:
columns_to_copy = ['User_ID', 'Age', 'Gender', 'Location','Posts','Likes','Comments']

In [24]:
new_df = pd.DataFrame(df)

In [25]:
new_df = df[columns_to_copy]

In [26]:
new_df.loc[:,'shares'] = Shares_new

C:\Users\sandh\AppData\Local\Temp\ipykernel_844656\3512223114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:,'shares'] = Shares_new

In [27]:
new_df.loc[:,'small_numbers'] = small_numbers_new

C:\Users\sandh\AppData\Local\Temp\ipykernel_844656\927355671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:,'small_numbers'] = small_numbers_new

In [28]:
new_df.loc[:, 'Following'] = Following_new

C:\Users\sandh\AppData\Local\Temp\ipykernel_844656\4286273482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, 'Following'] = Following_new

In [29]:
new_df.loc[:, 'Followers'] = Followers_new

In [30]:
print(new_df)

    User_ID   Age  Gender     Location    Posts   Likes  Comments    shares  \
0         1  25.0    Male     New York   100.00   250.0      50.0  2.397895
1         2  32.0  Female  Los Angeles   150.00   500.0      75.0  3.044522
2         3  35.0    Male       London   343.75   150.0      25.0  1.791759
3         4  42.0  Female        Paris   300.00   750.0     110.0  3.433987
4         5  35.0   Other  Los Angeles   343.75  1000.0     100.0  2.772589
5         6  29.0    Male       Sydney   200.00   400.0      50.0  2.917771
6         7  37.0    Male        Tokyo   343.75   600.0     110.0  2.917771
7         8  28.0  Female       Berlin   100.00   300.0     110.0  2.197225
8         9  35.0   Other       Moscow   400.00   900.0      80.0  3.258097
9        10  35.0    Male      Chicago   343.75   600.0     110.0  2.564949
10       11  65.0  Female  Los Angeles  1000.00  1500.0     200.0  6.216606
11       12  22.0    Male     New York   500.00   800.0     300.0  4.615121

    small_numbers  Following  Followers
0        9.903538   5.707110   6.216606
1        0.002996   6.552508   6.908755
2        0.001000   6.216606   7.877966
3        0.001000   6.908755   7.824446
4        0.006976   7.151485   7.877966
5        0.005982   7.151485   7.313887
6        0.001000   6.398595   6.685861
7        0.001000   7.151485   7.877966
8        0.001998   7.090910   8.294300
9        0.002996   7.151485   7.877966
10       9.210440   8.517393   9.210440
11       0.007968   6.803505   6.685861

In [ ]:
new_df.to_excel("Transformed_data.xlsx")